  // CSS HEADER
// Background

body, html {
    height: 100%;
    width: 100%;
    // Tắt scroll bar của thẻ html lớn
    overflow-x: hidden;
}

.logo {
    height: 50px;
}

.app {
    background-image: url('https://images.unsplash.com/photo-1484480974693-6ca0a78fb36b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile_img {
    height: 30px;
    border-radius: 50%;
    margin-top: 4px;
}

.account-content {
    position: relative;
    top: 100px;
}

.btn-login-reg {
    position: relative;
    top: 100%;
    left: 40%;
}

// --------------------- CSS again-----------------------
.row {
  height: 501px;  
}

#col1 {
  background-color: green;
  max-width: 50%;
  .power {
    max-width: 50%;
    position: absolute;
    top: 430px;
  }
}

#col2 {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px; 

  .notes {
    border-top: 1px solid grey;
    height: 100px;
  }
}

#col2 :hover {
  cursor: pointer;
}

// Col2
.col-3 {
  padding: 0;
}

// Col 3
.col-8 {
  padding: 0;
  height: 100%;
}

#col3 {
  .note-detail-form {
    .txt-title {
      margin: 0;
      width: 100%;
      height: 80px;
      font-size: 40px;
      font-weight: lighter;
      border: none;
    }
  
    .txt-description {
      border: none;
      border-top: 1px solid grey;
      resize: none;
      position: inherit;  
      width: 100%;
      height: 380px;
    }

    .button-submit {
      #button {
        display: inline;
        width: 49%;
        border-radius: 5px;
        border: 1px solid grey;
        padding: 5px;
        color: white;
      }
  
      .update-btn {
      background-color: green;
      }
    
      .delete-btn {
      background-color: red;
      }
    }
  } 
}

.highLightedItem {
  border: 1px solid green;
  border-radius: 5px;
  background-color: rgb(155, 153, 153);
}

input:focus, textarea:focus, select:focus{
  outline: none;
}