<div class="container text-center account-content">
    <h1 class="display-3 text-success">Hello, Welcome to Note App</h1>
    <div class="d-flex btn-login-reg mt-4">
        <form action="account/login" method="get" class="mr-4">
            <button type="submit" class="btn btn-outline-success">Login</button>
        </form>
        
        <form action="account/register" method="get">
            <button type="submit" class="btn btn-outline-success">Register</button>
        </form>
    </div>
</div>